#Web Application Framework & Generic
streamlit
pandas
numpy
plotly
seaborn
matplotlib
#Google Sheets Integration (Database):
gspread
google-auth-oauthlib
#LLM & RAG
groq
langchain-core==0.3.40
langchain-community==0.3.40
langchain==0.3.40
langchain-text-splitters==0.1.4
langchain-groq 
#langchain-text-splitters
faiss-cpu
sentence-transformers
unstructured
