#Web Application Framework & Generic
streamlit
pandas
numpy
plotly
seaborn
matplotlib
#Google Sheets Integration (Database):
gspread
google-auth-oauthlib
#LLM & RAG
groq
langchain==0.3.12
langchain-community==0.3.3
langchain-core==0.3.12
langchain-text-splitters==0.3.3
langsmith==0.1.130
langchain-groq 
#langchain-text-splitters
faiss-cpu
sentence-transformers
unstructured
